@import url('http://fonts.googleapi.com/css2?family=Roboto:wght@400;900&display=swap');

body{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:'Roboto';
  color:white
}
header{
  padding: 25px;
  background: white;
  height: 30px;
}
.sidenav{
  margin-top: -10px;
  width: 200px;
  background: #222C3C;
  position: absolute;
  height: 300vh;
  padding: 0 30px;
  transform: all 1s;
}
.sidenav-action{
  left: 0;
}
ul{
  padding: 0;
}

ul li{
  list-style-type:none;
  margin: 10px 0;
}

ul li a{
  color: #bdc2d6;
text-decoration: none;
font-size: 16px;
display: block;
padding: 10px 15px;
border-radius: 6px;
}

ul li a:hover,

ul li a.active{
  background: #222C3C;
}
header svg{
  font-size: 40px;
}

.main{
  height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color:rgb(34, 21, 21);
}
.content-style{
  height: '160px';
  color: '#fff';
  line-height: '160px';
  text-align: 'center';
  background: '#364d79';

}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.center-col {
  flex: 1;
  background: rgb(102, 93, 93);
  overflow-y: scroll;
}

.react-scroll,
.native-scroll {
  height: 600px;
  border: 1px solid #222C3C;
}

.native-scroll {
  overflow: hidden auto;
}


#myProgress {
  width: 80%;
  background-color: #ddd;
  margin-left: 10%;
}

#myBar {
  width: 30%;
  height: 30px;
  background-color: #2b66be;
  text-align: center;
  line-height: 30px;
  color: white;
}


html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555; 
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}


@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Form h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 28px;
}

.Form input {
  width: 100%;
  border: none;
  padding: 8px 0;
  font-size: 16px;
  color: #242424;
  background: transparent;
}

.TagForm {
  width: 100%;
  border-radius: 3px;
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
}

.TagList {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.Tag {
  background: #4392f1;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #ffffff;
}

.Tag:not(:last-child) {
  margin-right: 8px;
}

.InputIcon {
  padding-right: 8px;
  padding-left: 8px;
  color: #7a7a7a;
}

.TagIcon {
  margin-left: 12px;
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 8px;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.body {
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
}

.checkbox {
  transform: scale(1.5);
  width: 7rem;
  height: 2.5rem;
  border-radius: 20px;
  border: 2.5px solid rgb(173, 167, 166);
  background: rgb(179, 172, 172);
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 0.5px 1px 0px rgba(50, 50, 50, 0.72);
}

.checkbox--on {
  flex-direction: row;
  background: rgb(88, 190, 88);
  border: 2.5px solid rgb(87, 182, 87);
  color: white;
}

.checkbox--on .checkbox__ball {
  box-shadow: 0px 3px 4px 0px rgb(29, 80, 29);
}

.checkbox__ball {
  background: whitesmoke;
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.72);
  width: 20px;
  height: 100%;
  border-radius: 50%;
}

.checkbox__text {
  font-size: 1.8rem;
  margin-left: 5px;
  margin-right: 5px;
}


#myProgress {
  width: 80%;
  background-color: #ddd;
  margin-left: 10%;
}

#myBar {
  width: 30%;
  height: 30px;
  background-color: #2b66be;
  text-align: center;
  line-height: 30px;
  color: white;
}
.hamburger{
  margin-left: 30px;
  margin-top: -14px;
  font-size: 12px;
  border-radius: 1px solid black;
  border: 1px solid #222C3C;
  border-radius: 3px;
  width: px;
  height: 25px;
  width: 25px;
}

.menus{
  color: white;
    border-inline-color: #292f43;
}
.napierimag{
  margin-top: -33px;
    margin-left: -80px;
    /* font-size: 12px; */
    height: 61px;
    width: 228px;
}

.Report{
  margin-left: 210px;
  font-size: 12px;
  font-weight: bold;
}
.Report1{
  margin-left: 220px;
  font-size: 12px;
  font-weight: bold;
  margin-top: -18px;
  color: #36286a;
}
.heading-1{
  position:relative;
  /* text-align: left */
  margin-left: 200px
}
.heading-1:before {
  content: "";
  display: block;
  border-top: solid 1px #e7dddd;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
}
.heading-1 span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  color: #36286a;

}
/* switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: blue;
  -webkit-transition: .4s;
  transition: .4s;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* button-style */

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;}